<% const emptyCart = cart && cart.length === 0 || cart === undefined || cart === [] %>
<h1>Shopping Cart</h1>
<div class="row">
    <div class="col-md-8">
        <% if (emptyCart) { %>
            <div class="alert alert-info">
                Cart is empty. <a href="/">Go Shopping</a>
            </div>
        <% } else { %>
                <ul class="list-group">
                    <% cart.forEach(product => { %>
                        <li class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <img src=<%= product.image %> alt="<%= product.name%>" class="img-fluid rounded img-thumbnail">
                                    <a href="<%= "/products/"+product._id %>"><%= product.name%></a>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-light" onclick="updateCartHandler('<%= product._id %>',  - 1)" <%= product.quantity === 1 && "disabled"%>>
                                        <i class="fas fa-minus-circle"></i>
                                    </button>
                                    <span><%= product.quantity %></span>
                                    <button class="btn btn-light" onclick="updateCartHandler('<%= product._id %>',  1)"  <%= product.quantity === product.countInStock && "disabled"%>>
                                        <i class="fas fa-plus-circle"></i>
                                    </button>
                                </div>
                                <div class="col-md-3"><%= product.price %></div>
                                <div class="col-md-2">
                                    <button class="btn btn-light cartdel"
                                        onclick="removeItemHandler('<%= product._id %>')">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </li>            
                    <% }) %>
                </ul>
        <% } %>     
        <script>
        const removeItemHandler = async (productId) => {
            const response = await fetch('/cart/remove', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({id: productId})
            })
            if (response.status === 200) {
                window.location.reload();
            }
        }    
        const updateCartHandler = async (productId, quantity) => {
            const response = await fetch('/cart/update', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({id: productId, quantity})
            })
            if (response.status === 200) {
                window.location.reload();
            }
        }
        </script> 
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3>Subtotal (<%= emptyCart ? 0: cart.reduce((a, c) => a + c.quantity,0) %> items) : $<%= emptyCart ? 0: cart.reduce((a, c) =>a + c.price * c.quantity,0)%>
                        </h3>
                    </li>
                    <li class="list-group-item">
                        <div class="d-grid">
                            <button class="btn btn-primary" 
                            onclick="redirect('<%= user ? `/shipping` : `/signin` %>')" 
                            <%= emptyCart && "disabled"%> 
                            >
                                Proceed to Checkout
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>