      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img
              class="img-fluid"
              src=<%= product.image %>
              alt=<%= product.name %>
            />
          </div>
          <div class="col-md-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h1><%= product.name %></h1>
              </li>
              <li class="list-group-item">Price: $<%= product.price %></li>
              <li class="list-group-item">
                Description:
                <p><%= product.description %></p>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col">Price:</div>
                      <div class="col">$<%= product.price %></div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col">Status:</div>
                      <div class="col">
                        <% if (product.countInStock === 0) { %>
                          <span class="badge bg-danger">Out of Stock</span>
                         <% } else  { %>
                          <span class="badge bg-success">In Stock</span>
                          <% } %>
                        </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="d-grid">
                      <button
                        id="addToCartButton"
                        class="btn btn-primary"
                        onclick="addToCartHandler('<%= product._id %>')"
                      >
                        Add to Cart
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
