<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head' , {title:title}) %>
  </head>
  <body>
    <div class="d-flex flex-column site-container">
    <header><%- include('../partials/header',{cats,user}) %></header>
    <main>
      <div class="mt-3">
        <% switch (path) {
            case "signin": %>
            <%- include('../pages/signin'); %>
          <% break;
            case "products": %>
            <%- include('../pages/products',{products}); %>
            <% break;
            case "product": %>
            <%- include('../pages/product',{product}); %>
            <% break;
            case "signup": %>
            <%- include('../pages/signup'); %>
            <% break;
            case "search": %>
            <%- include('../pages/search',{prices,cats,q,countProducts,page,pages}); %>
            <% break;
            default:%>
            <h1>Error 404 : No Page found</h1>
            <%break; } %>
      </div>
      </main>
    <footer><%- include('../partials/footer') %></footer>
  </div>
</body>
</html>
