<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head' , {title:title}) %>
  </head>
  <body>
    <div class="d-flex flex-column site-container">
    <header><%- include('../partials/header',{cats,user,cart}) %></header>
    <main>
      <div class="container mt-3">
        <% switch (path) {
            case "signin": %>
            <%- include('./signin'); %>
          <% break;
            case "products": %>
            <%- include('./products',{products}); %>
            <% break;
            case "reports": %>
            <%- include('./reports'); %>
            <% break;
            case "product": %>
            <%- include('./product',{product}); %>
            <% break;
            case "signup": %>
            <%- include('./signup'); %>
            <% break;
            case "search": %>
            <%- include('./search',{prices,cats,q,countProducts,page,pages}); %>
            <% break;
            case "cart": %>
            <%- include('./cart',{cart,user}); %>
            <% break;
            case "payment": %>
            <%- include('./payment',{user}); %>
            <% break;
            case "chat": %>
            <%- include('./chat',{user}); %>
            <% break;
            case "shipping": %>
            <%- include('./shipping'); %>
            <% break;
            case "addcard": %>
            <%- include('./addcard'); %>
            <% break;
            case "updateproduct": %>
            <%- include('./updateproduct'); %>
            <% break;
            case "payment": %>
            <%- include('./payment'); %>
            <% break;
            case "placeorder": %>
            <%- include('./placeorder',{user,cart}); %>
            <% break;
            case "order": %>
            <%- include('./order',{order}); %>
            <% break;
            case "profile": %>
            <%- include('./profile',{user}); %>
            <% break;
            case "orders": %>
            <%- include('./orders',{orders}); %>
            <% break;
            case "disallcard": %>
            <%- include('./disallcard',{products,countProducts,page,pages}); %>
            <% break;
            case "user": %>
            <%- include('./UserList',{users}); %>
            <% break;
            case "useredit": %>
            <%- include('./UserEdit',{user}); %>
            <% break;
            case "Updateproduct": %>
            <%- include('./Updateproduct',{product}); %>
            <%break;
            default:%>
            <h1>Error 404 : No Page found</h1>
            <%break; } %>
      </div>
      </main>
    <footer><%- include('../partials/footer') %></footer>
  </div>
</body>
</html>
