<%- include('../partials/checkoutsteps',{step1:true}) %>
<div class="small-container container">
    <h1 class="my-3">Shipping Address</h1>
    <form id="shippingForm" onsubmit="shippingHandler(event)">
        <div class="mb-3">
            <label class="mb-1">Full Name</label>
            <input id="shippingFullName" class="form-control" value="<%= (typeof user !== "undefined" && typeof user.shippingAddress !== "undefined" )? user.shippingAddress.fullName: "" %>" name="fullName" required/>
        </div>
        <div class="mb-3">
            <label class="mb-1">Address</label>
            <input id="shippingAddress" class="form-control" value="<%= (typeof user !== "undefined" && typeof user.shippingAddress !== "undefined" ) ? user.shippingAddress.address : "" %>" name="address" required/>
        </div>
        <div class="mb-3">
            <label class="mb-1">City</label>
            <input id="shippingCity" class="form-control" value="<%= (typeof user !== "undefined" && typeof user.shippingAddress !== "undefined" ) ? user.shippingAddress.city : "" %>" name="city" required/>
        </div>
        <div class="mb-3">
            <label class="mb-1">Postal Code</label>
            <input id="shippingPostalCode" class="form-control" value="<%= (typeof user !== "undefined" && typeof user.shippingAddress !== "undefined" ) ? user.shippingAddress.postalCode : "" %>" name="postalCode" required/>
        </div>
        <div class="mb-3">
            <label class="mb-1">Country</label>
            <input id="shippingCountry" class="form-control" value="<%= (typeof user !== "undefined" && typeof user.shippingAddress !== "undefined" ) ? user.shippingAddress.country : "" %>" name="country" required/>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Continue</button>
        </div>
    </form>
</div>