
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head' , {title:title}) %>

    <style>
      /* CSS styling for the form */
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
      }

      h2 {
        text-align: center;
      }

      .form-container {
        max-width: 750px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }

      .form-group {
        margin-bottom: 20px;
      }

      .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .form-group input[type="text"],
      .form-group input[type="number"],
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 5px;
      }

      .form-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        resize: vertical;
        margin-bottom: 5px;
      }

      .form-group input[type="submit"] {
        background-color: #4caf50;

        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        margin: 0 auto;
      }

      .form-group input[type="submit"]:hover {
        background-color: #45a049;
      }

      div .handle {
        color: red;
        margin-left: 5px;
      }
    </style>
  </head>
  <body>
    <h2>Edit Product Id:<%=product._id%></h2>

    <div class="form-container">
      <form  method="post" action="/products/admin/<%= product._id%>">
        <div class="form-group">
          <label for="product-name">Name:</label>
          <input
            type="text"
            id="product-name"
            name="product-name"
            value="<%=product.name%>"
            placeholder="Enter product name"
          />
          <div class="handle" id="name-p"></div>
        </div>
        <div class="form-group">
          <label for="product-slug">Slug:</label>
          <input
            type="text"
            id="product-slug"
            name="product-slug"
            value="<%=product.slug%>"
            placeholder="Enter product slug"
          />
          <div class="handle" id="slug-p"></div>
        </div>
        <div class="form-group">
          <label for="product-category">Category:</label>
          <select id="product-category" name="product-category" value="<%=product.category%>">
            <option value="short">Short</option>
            <option value="bantalon">Bantalon</option>
            <option value="t-shirt">T-Shirt</option>
          </select>
        </div>
        <div class="form-group">
          <label for="product-image">Image:</label>
          <input
            type="text"
            id="product-image"
            name="product-image"
            value="<%=product.image%>"
            placeholder="Enter product image URL"
          />
          <div class="handle" id="img-p"></div>
        </div>
        <div class="form-group">
          <label for="product-price">Price:</label>
          <input
            type="number"
            id="product-price"
            name="product-price"
            value="<%=product.price%>"
            placeholder="Enter product price"
          />
          <div class="handle" id="price-p"></div>
        </div>
        <div class="form-group">
          <label for="product-count">Count:</label>
          <input
            type="number"
            id="product-count"
            name="product-count"
            value="<%=product.countInStock%>"
            placeholder="Enter product count"
          />
          <div class="handle" id="count-p"></div>
        </div>
        <div class="form-group">
          <label for="product-brand">Brand:</label>
          <input
            type="text"
            id="product-brand"
            name="product-brand"
            value="<%=product.brand%>"
            placeholder="Enter product brand"
          />
          <div class="handle" id="brand-p"></div>
        </div>
        <div class="form-group">
          <label for="product-description">Description:</label>
          <textarea
            id="product-description"
            name="product-description"
            value="<%=product.description%>"
            placeholder="Enter product description"
          ></textarea>
          <div class="handle" id="dis-p"></div>
        </div>
        <div class="form-group">
          <input type="submit" value="Create Product" />
        </div>
      </form>
    </div>
  </body>
</html>
