<div class="container small-container">
      <h1>Edit Product <%= product._id %></h1>
      <form  method="post" action="/products/admin/<%= product._id%>">
        <div class="mb-3">
          <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>" required>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Slug</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= product.slug %>" required>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Category</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= product.category %>" required>
        </div>
        <div class="mb-3">
          <% if(!product.image){ %>
            <label for="name" class="form-label">Image</label>
            <input type="file" onchange="uploadPhotoHandler(event,'<%= product._id %>')" class="form-control" id="name" name="name" value="<%= product.image %>" required>
            <% }else{ %>
              <label class="form-label">Image</label>
              <div class="list-group-item">
                <a target="_blank" href="<%= product.image %>"><%= product.image %></a>
                <button type="button" class="btn btn-light" onclick="deleteImageHandler(event,'<%= product._id %>')">
                  <i class="fa fa-times-circle"></i>
                </button> 
              </div>
            <% } %>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Price</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= product.price %>" required>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Count In Stock</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= product.countInStock %>" required>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Brand</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= product.brand %>" required>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Description</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= product.description %>" required>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Create Product</button>
        </div>
      </form>
    </div>
