<body>
  <div>
    <h1>Users</h1>
    <div>
      <a href="/admin/user/addnewuser" class="btn btn-primary navigation-button"
        >Add New user</a
      >
    </div>
    <table class="table">
      <thead>
        <tr>
          
          <th>NAME</th>
          <th>EMAIL</th>
          <th>IS ADMIN</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach((user) => { %>
        <tr>
          
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.isAdmin ? 'YES' : 'NO' %></td>
          <td>
            <a href="/admin/user/<%= user._id %>" class="btn btn-primary"
              >Edit</a
            >
            <a
              action="delete"
              class="btn btn-primary"
              onclick="deleteUserHandler(event,'<%= user._id %>')"
              >Delete</a
            >
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% for (let x = 0; x < pages; x++) { %>
    <a
      class="<%= x + 1 === Number(page) ? 'btn text-bold' : 'btn' %>"
      href="/admin/users?page=<%= x + 1 %>"
    >
      <%= x + 1 %>
    </a>
    <% } %>
  </div>
</body>
<script src="/public/scripts/userlist.js"></script>